<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
        <div class="home-text">
            <h1><%= title %></h1>
            <p>Welcome to <%= title %>, this site is sitll on building.</p>
        </div>
        <div class="">
            <img src="/images/homepage-tmp.jpg" style="width: 1050px;" />
        </div>
    </div>
  </body>
</html>
